<section class="w-full max-w-3xl mx-auto px-6">
  <div class="p-6 md:py-0 rounded-lg overflow-hidden">
    <div class="flex lg:gap-10 h-full flex-col md:flex-row items-center justify-center">

      <div class="basis-2/3 min-w-0">
        <h2 class="my-5 text-center md:text-start text-3xl md:text-xl lg:text-xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Read the Blog Post</h2>

        <h4 class="text-center md:text-start leading-relaxed text-md md:text-lg my-5 font-serif">From dotenv to dotenvx: Next Generation Config Management</h4>

        <p class="text-start leading-relaxed text-sm"><span class="font-bold">Summary.</span> The post introduces Dotenvx as a “next-generation” config management tool that enhances the classic .env workflow with consistency across platforms, support for multiple environments, and—most importantly—built‑in encryption to protect secrets.</p>

        <p class="my-5 text-center md:text-start"><a target="_blank" href="https://dotenvx.com/blog/2024/06/24/dotenvx-next-generation-config-management.html" class="link-primary font-bold">Read it</a></p>
      </div>
      
      <a target="_blank" href="https://dotenvx.com/blog/2024/06/24/dotenvx-next-generation-config-management.html" class="basis-1/3 aspect-[8.5/11] min-w-0 w-full md:block border-2 border-zinc-500 hover:border-blue-500 drop-shadow-lg">
        <img src="/assets/img/blogpost-thumb.png" class="w-[700px] aspect-[8.5/11] max-w-full max-h-screen border-0 mx-auto"/>
      </a>

    </div>
  </div>
</section>
