<section class="w-full max-w-3xl mx-auto px-6">
  <div class="p-6 md:py-0 rounded-lg overflow-hidden">
    <div class="flex md:gap-10 h-full flex-col md:flex-row items-center justify-center">

      <div class="basis-2/3 min-w-0">
        <h2 class="my-5 text-center md:text-start text-3xl md:text-xl lg:text-xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Download the Flyer</h2>

        <h4 class="text-center md:text-start leading-relaxed text-md md:text-lg my-5 font-serif">Are your env files safe?</h4>

        <p class="text-start leading-relaxed text-sm"><span class="font-bold">Pitch.</span> Dotenv Enterprise encrypts your env files at rest, protects them in transit, and audits them everywhere. All without changing your workflow or doing intergration work. Same files. Same workflow. Zero integrations. But now they're safe.</p>

        <p class="my-5 text-center md:text-start"><a target="_blank" href="/publications/Dotenv-Are-Your-Env-Files-Safe-Flyer.pdf?v={{ site.time | date: '%Y%m%d%H%M%S' }}" class="link-primary font-bold">Download the Flyer</a></p>
      </div>
      
      <a target="_blank" href="/publications/Dotenv-Are-Your-Env-Files-Safe-Flyer.pdf?v={{ site.time | date: '%Y%m%d%H%M%S' }}" class="basis-1/3 aspect-[8.5/11] min-w-0 w-full md:block border-2 border-zinc-500 hover:border-blue-500 drop-shadow-lg">
        <img src="/assets/img/flyer-thumb.png" class="w-[700px] aspect-[8.5/11] max-w-full max-h-screen border-0 mx-auto"/>
      </a>

    </div>
  </div>
</section>
