<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-3 h-full flex-col items-center justify-center">
    <h1 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-[#C8102E] dark:text-[#C8102E]">DOTENV ENTERPRISE</h1>

    <p class="my-10 text-center leading-relaxed text-lg md:text-2xl"><span class="italic">Know</span> and secure your env files.</p>

    <div class="">
      <a target="_blank" href="/report.pdf?v={{ site.time | date: '%Y%m%d%H%M%S' }}" class="link-primary font-semibold underline">Read the report</a>
    </div>
  </div>
</section>
