<section class="w-full max-w-5xl mx-auto px-6 my-20">
  <div class="flex gap-4 h-full flex-col items-center justify-center">
    <h1 class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-[#C8102E] dark:text-[#C8102E]">
      <span class="font-mono font-light tracking-tighter leading-none italic">DOTENV</span> <span class="font-mono font-bold tracking-tighter">ENTERPRISE</span>
    </h1>

    <p class="text-center tracking-tigther text-lg md:text-2xl font-semibold">Enterprise solutions for env files.</p>

    <div class="">
      <a target="_blank" href="mailto:sales@dotenv-enterprise.com" class="link-primary font-semibold underline">Contact Sales</a>
    </div>
  </div>
</section>
