<section class="max-w-5xl mx-auto my-6 lg:mt-20 flex flex-col px-5">
  <h2 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">Adoption Rising</h2>
  <p class="text-center leading-relaxed text-lg md:text-2xl">Large organizations have begun moving to our encrypted env files.</p>
</section>

<section class="w-full max-w-4xl mx-auto my-2 lg:my-10">
  <div class="md:py-0 rounded-lg overflow-hidden">
    <div class="flex gap-5 lg:gap-10 items-center justify-center">
      <img src="/assets/img/logo-socket.png" class="h-8 w-auto" alt="Socket"/>
      <img src="/assets/img/logo-aws.png" class="h-8 w-auto" alt="AWS"/>
      <img src="/assets/img/logo-supabase.png" class="h-6 w-auto" alt="Supabase"/>
      <img src="/assets/img/logo-nasa.png" class="h-12 w-auto" alt="NASA"/>
      <img src="/assets/img/logo-procore.png" class="h-4 w-auto" alt="Procore"/>
      <img src="/assets/img/logo-french-government.png" class="h-10 w-auto" alt="French Government"/>
    </div>
  </div>
</section>

<section class="w-full px-6 my-4 lg:my-10">
  <div class="mx-auto rounded-lg overflow-hidden w-fit">
    <div class="flex flex-col items-start space-y-2">
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Socket.dev</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">NASA</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Supabase</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">AWS Amplify</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">French Government</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Facebook</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">OpenNextjs</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Bitcoin-SV</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Neon Database</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Rocicorp</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">Procore</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif">SettleMint</h4>
      <h4 class="leading-relaxed text-md md:text-lg font-serif"><a href="https://github.com/search?q=dotenvx&type=code" target="_blank" class="link-primary">..and more</a></h4>
    </div>
  </div>
</section>

<p class="text-center text-zinc-700 italic">We can share more – concerning other organization's use cases – while on a call.</p>
