<section class="max-w-5xl mx-auto my-6 lg:my-20 flex flex-col px-5">
  <h2 class="my-5 text-center text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight leading-none text-zinc-950 dark:text-[#ECD53F]">Publications</h2>
  <p class="mb-10 text-center leading-relaxed text-lg md:text-2xl">Research, analysis, and reports on the future of env file security.</p>
</section>
{% include components/report.html %}
<hr class="my-10 md:my-20"/>
{% include components/whitepaper.html %}
<hr class="my-10 md:my-20"/>
{% include components/flyer.html %}
<hr class="my-10 md:my-20"/>
{% include components/blogpost.html %}
