<section class="w-full max-w-3xl mx-auto px-6">
  <div class="p-6 md:py-0 rounded-lg overflow-hidden">
    <div class="flex lg:gap-10 h-full flex-col md:flex-row items-center justify-center">

      <div class="basis-2/3 min-w-0">
        <h2 class="my-5 text-center md:text-start text-3xl md:text-xl lg:text-xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Read the Report</h2>

        <h4 class="text-center md:text-start leading-relaxed text-md md:text-lg my-5 font-serif">State of Env Files Report (2025)</h4>

        <p class="text-start leading-relaxed text-sm"><span class="font-bold">Conclusion.</span> As the role of autonomous software agents grows, and as configuration becomes increasingly dynamic and decentralized, encrypted env files offer a model for trustless, portable, and audit-ready configuration—at every layer of the stack.</p>

        <p class="my-5 text-center md:text-start"><a target="_blank" href="/publications/Dotenv-State-of-Env-Files-Report-2025.pdf?v={{ site.time | date: '%Y%m%d%H%M%S' }}" class="link-primary font-bold">Read the Report</a></p>
      </div>
      
      <a target="_blank" href="/publications/Dotenv-State-of-Env-Files-Report-2025.pdf?v={{ site.time | date: '%Y%m%d%H%M%S' }}" class="basis-1/3 aspect-[8.5/11] min-w-0 w-full md:block border-2 border-zinc-500 hover:border-blue-500 drop-shadow-lg">
        <img src="/assets/img/report-thumb.png" class="w-[700px] aspect-[8.5/11] max-w-full max-h-screen border-0 mx-auto"/>
      </a>

    </div>
  </div>
</section>
